@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis-Regular.eot");
    src: url("fonts/Metropolis-Regular.woff") format("woff");
}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: #171B20;
}

/* Navbar */

.nav {
    height: 20%;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(23, 27, 32, 0.8);
    z-index: 100;
}
.nav-logo {
    color: white;
    font-family: 'Metropolis', Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: block;
    float: left;
    margin: 40px 0 0px 60px;
}
.nav-content {
    height: 50%;
    margin: 40px 60px 0px;
    float: right;
}
.nav-content a {
    text-decoration: none;
    color: white;
    font-family: 'Metropolis', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    float: left;
    margin-top: 15px;
    padding: 20px 20px 10px;
}
#logo {
    float: left;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.nav-logo p {
    text-decoration: none;
    color: #F27100;
    font-family: 'Metropolis', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    display: block;
    text-transform: lowercase;
    margin-top: 70px;
}

/* Hover Animations */

.nav-content a,
.nav-content a:after,
.nav-content a:before {
    transition: all .5s;
}
.nav-content a:hover {
    color: #e6e6e6;
}
.nav-content a {
    position: relative;
}
.nav-content a:after,
.nav-content a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #F27100;
    height: 2px;
}
.nav-content a:hover:after {
    width: 85%;
}

/* Hover End */


/* Navbar End */


/* Home Slideshow */

.cb-slideshow {
    margin: 0;
}
.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background-color: rgba(24, 62, 112, 0.15);
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 18s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 35%;
    right: 10%;
    width: 100%;
    text-align: right;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 18s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'Metropolis', Arial, sans-serif;
    font-size: 120px;
    padding: 0;
    line-height: 200px;
    z-index: 1000;
}
.cb-slideshow li:nth-child(1) span {
    background-image: url(/img/splash1.jpg)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(/img/splash2.jpg);
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(/img/splash3.jpg);
    animation-delay: 12s;
}
@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    40% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@keyframes titleAnimation {
    0% {
        opacity: 0
    }
    8% {
        opacity: 1
    }
    17% {
        opacity: 1
    }
    20% {
        opacity: 1
    }
    40% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
.cb-slideshow li:nth-child(2) div {
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    animation-delay: 12s;
}

/* Slideshow End */

.splash {
    height: 50%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
.btn {
    font-family: 'Metropolis', Arial, sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: white;
    text-align: right;
    position: absolute;
    font-weight: bold;
    text-transform: uppercase;
    right: 10%;
    bottom: 420px;
    padding: 15px 40px;
    background-color: #F27100;
    transition: .5s;
}
.btn:hover {
    transform: scale(1.05);
}
.social {
    position: absolute;
    right: 10%;
    bottom: 300px;
}
.social li {
    display: block;
    float: left;
    transition: .5s;
}
.social li:hover {
    transform: scale(1.1);
}

/* Home End */


/* Portfolio */


/* Portfolio Grid Layout */

.filter-options {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    background-color: #333B46;
    z-index: 100;
}
.filter-options a {
    font-family: 'Metropolis', Arial, sans-serif;
    color: white;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 30px;
    display: inline-block;
}
.filter-options a.active {
    background: #1E2631;
    color: #f9f9f9;
}
.grid {
    margin: 14% 10px 20px;
    width: 100%;
    display: block;
}
.grid-item {
    display: inline;
    width: 33%;
    position: absolute;
    padding: 5px;
    box-sizing: border-box;
}
.grid img {
    width: 100%;
}

/* End Portfolio Grid Layout */
